/* Webfont: Steppe-Regular */@font-face {
    font-family: 'Steppe';
    src: url('../fonts/Steppe.eot'); /* IE9 Compat Modes */
    /* src: url('../fonts/Steppe.eot?#iefix') format('embedded-opentype') IE6-IE8 */
    src:
         url('../fonts/Steppe.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Steppe.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

